


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2,h3 {
  font-family: 'Arbutus Slab', serif;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; 
}

.bg-img {
  position: absolute;
  left: 10%;
  top: 18%;
  opacity: .03;
  
}



.box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


 /* MAIL */
.mail {
  position: relative;
  width: 330px;
  top: 50px;
}

/*  FORM */
form {
  position: relative;
  width: 380px;
  margin: 30px 0;
  font-size: 20px;
  padding-top: 18px;
  background-color: rgba(145, 151, 151, 0.151);
  border-radius: 14px;
}

#first-name, #last-name, #phone1, #email1
{
  padding: 0px 10px;
  margin-top: 7px;
  border-radius: 4px;
}

label {
  color: rgb(32, 28, 28);
}

#phone1 {
  position: relative;
  left: 18px;
}

#email1 {
   position: relative;
  left: 22px;
}




footer {
  position: relative;
  margin-top: 150px;
  text-align: center;
}




/* FOR IPHONS */
@media only screen and (max-width: 768px) {

  .box {
    display: flex;
    flex-direction: column;
  }

  .mail, form {
    position: relative;
   margin: 0 auto;
  }
  
  form {
    margin-top: 50px;
  }

  footer {
    position: relative;
    top: -90px;
    
  }

  .bg-img {
     display: none;
  }

}


@media (max-width: 1200px) { 
  .bg-img {
     left: 2%;
     top: 10%;
     transform: scale(.6);
  }
}

@media (max-width: 992px) { 
  .bg-img {
     left: -9%;
     top: 5%;
     transform: scale(.5);
  }
}











