


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100%;
  min-height: 100%;
  margin-top: 150px;
  text-align: center;
}

main h2, main h3 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

form {
  position: relative;
  width: 50%;
  margin: 30px auto;
  font-size: 20px;
}

fieldset {
  padding: 50px;
  border-radius: 7px;
   box-shadow: 2px 2px 42px gray;

}

legend {
  font-size: 25px;
  padding:6px 10px;
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#first-name, #last-name, #phone1, #email1
{
  padding: 5px 12px;
  margin-top: 7px;
  border-radius: 4px;
}

#phone1, #email1 {
  position: relative;
  left: 15px;
}

button {
  padding: 7px 13px;
  font-size: 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


footer {
  position: relative;
  margin-top: 50px;
  text-align: center;
}



/* FOR IPHONS */
@media only screen and (max-width: 767px) {

  main {
    position: relative;
    width: 100%!important;
  }

   form {
    position: relative;
    width: 95%;
    left: 2.5%;
  }

  fieldset {
    position: relative;
    width: 95%;
    padding: 0;
 }

 button {
   margin-bottom: 20px;
 }

#first-name, #last-name, #phone1, #email1 {
  padding: 3px
}

.message {
  position: relative;
  width: 300px;
  padding: 10px;
}
  

}




/* FOR IPAD */
@media only screen and (min-width: 768px) and (max-width: 992px) {
 
  form {
    position: relative;
    width: 90%;
  }

 fieldset {
   padding: 0;
 }

 legend {
   padding-top:5px ;
 }

 button {
   margin-bottom: 20px;
 }

     
}














