


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



main {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center; 
}

.bg-img {
  position: absolute;
  left: 10%;
  top: 18%;
  opacity: .03;
  
}

.contact-content {
  position: relative;
  top: 130px;
}

.box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}


 /* MAIL */
.mail {
  position: relative;
  width: 330px;
  top: 50px;
}

/*  FORM */
form {
  position: relative;
  width: 380px;
  margin: 30px 0;
  font-size: 20px;
  
}

fieldset {
  border-radius: 7px;
 border: 1px solid black;
}

legend {
  font-size: 25px;
  background-color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#first-name, #last-name, #phone1, #email1
{
  padding: 0px 10px;
  margin-top: 7px;
  border-radius: 4px;
}

#phone1 {
  position: relative;
  left: 18px;
}

#email1 {
   position: relative;
  left: 22px;
}




footer {
  position: relative;
  margin-top: 150px;
  text-align: center;
}




/* FOR IPHONS */
@media only screen and (max-width: 768px) {

  .contact-content {
     position: relative;
     top: -130px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .mail, form {
    position: relative;
   margin: 0 auto;
  }
  
  form {
    margin-top: 50px;
  }

  footer {
    position: relative;
    top: -90px;
    
  }

  .bg-img {
     display: none;
  }

}


@media (max-width: 1200px) { 
  .bg-img {
     left: 2%;
     top: 10%;
     transform: scale(.6);
  }
}

@media (max-width: 992px) { 
  .bg-img {
     left: -9%;
     top: 5%;
     transform: scale(.5);
  }
}











