

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.chart2 {
  position: relative;
  width: 80%;
  background-color: rgb(255, 255, 255);
  left: 10%;
  overflow: hidden;
}

p {
  position: relative;
  left: 1px;
  text-decoration: underline;
}

@media (max-width: 576px) {
  .chart2 {
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    left: -10px;
    margin-top: 10px;

  }
}