
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Rajdhani:wght@500&family=Raleway:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=New+Tegomin&family=Rajdhani:wght@500&family=Raleway:wght@300;400&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.name {
  list-style: none;
}



main {
  position: relative;
  width: 100%;
}



.title-h1,
.title-h3,
h2,
h4 {
  font-family: 'Arbutus Slab', serif;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.imgtitle {
  position: relative;
  margin-top: 5rem;
  width: 220px;
  height: 220px;
  border-bottom: 8px solid rgba(92, 30, 163, 0.781);
  border-radius: 52%;
  /* display: contents; */
  overflow: hidden;
}

.heroImage {
  width: 220px;
}

.texts {
  position: relative;
  width: 40%;
  margin-top: 3rem;
  font-size: 1.2rem;
}

.views {
  color: white;
  margin: 40px;
}

.views:hover {
  color: black;
  cursor: pointer;
}

.eye:hover {
  color: blue;
}




@media (max-width: 768px) {
  .texts {
    position: relative;
    width: 70%;
  }
}




header {
  background-color: #dbdbdb;
}

li {
  list-style: none;
}

nav>a,
li>a {
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  justify-content: space-around;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  gap: 60px;
  justify-content: space-evenly;
  align-items: center;
}

.brandlogo {
  font-size: 24px;
}

.nav-link {
  margin-top: 12px;
  font-size: 20px;
  transition: .7s ease;
}

.nav-link:hover {
  color: #06109e;
}

.social-icons>i {
  font-size: 22px;
  cursor: pointer;
}


.social-icons>i:nth-child(1) {
  margin-right: 10px;
  color: rgb(25, 25, 182);
}

.social-icons>i:nth-child(1):hover {
  color: rgb(34, 34, 247);
}

.social-icons>i:nth-child(2) {
  color: rgb(3, 132, 237);
}

.social-icons>i:nth-child(2):hover {
  color: rgb(60, 163, 248)
}


.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #06109e;
  cursor: pointer;
}


.dropDown {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 100;
  top: 50px;
  width: 250px;
}

.dropDown li {
  display: none;
  opacity: 0;
  background-color: #dbdbdb;
}



.drop:hover>.dropDown li {
  padding: 0 0 18px 10px;
  opacity: 0;
}


.drop:hover>.dropDown li:nth-child(1) {
  animation: slideL .6s ease-in-out forwards;
  animation-delay: -200ms;
  opacity: 0;
  display: block;
}

.drop:hover>.dropDown li:nth-child(2) {
  animation: slideR .6s ease-in-out forwards;
  animation-delay: 0ms;
  opacity: 0;
  display: block;
}

.drop:hover>.dropDown li:nth-child(3) {
  animation: slideL .6s ease-in-out forwards;
  animation-delay: 300ms;
  opacity: 0;
  display: block;
}

.drop:hover>.dropDown li:nth-child(4) {
  animation: slideR .6s ease-in-out forwards;
  animation-delay: 480ms;
  opacity: 0;
  display: block;
}

.drop:hover>.dropDown li:nth-child(5) {
  animation: slideL .6s ease-in-out forwards;
  animation-delay: 650ms;
  opacity: 0;
  display: block;
}

@keyframes slideL {
  from {
    opacity: 0;
    transform: translateX(-433px);
  }

  to {
    opacity: 1;
    transform: translateX(-33px);
  }
}

@keyframes slideR {
  from {
    opacity: 0;
    transform: translateX(433px);
  }

  to {
    opacity: 1;
    transform: translateX(-33px);
  }
}



@media (max-width:768px) {

  .navbar {
    justify-content: space-between;
  }

  .hamburger {
    display: block;
    border: 2px solid rgb(13, 13, 161);
    border-radius: 4px;
    padding: 5px;
    transform: rotate(0deg);
  }


  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hamburger.active {
    transform: rotate(180deg);

  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #dbdbdb;
    width: 100%;
    transition: .4s;
    z-index: 5000;
  }

  .nav-item {
    position: relative;
    margin: 10px 0;
    font-size: 20px;
    transition: all 1s;
  }


  .nav-link {
    position: relative;
    left: -150px !important;
  }

  .nav-menu.active {
    right: 0;
  }

  .drop {
    position: relative;
    left: 95px;
  }



  .dropDown {
    position: relative;
    display: flex;
    left: 50px;
    flex-direction: column;
    z-index: 100;
    top: 10px;
    width: 250px;
  }

  .dropDown li {
    display: none;
    opacity: 0;
    font-size: 17px;
    padding: 0;
    margin: 0;
    background-color: #dbdbdb;
  }


}
