
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&family=Playfair+Display&family=Spectral+SC:ital,wght@1,200&display=swap');


* { 
box-sizing: border-box;
padding: 0;
margin: 0;   
}



main {
  position: relative;
  display: flex;
  width: 85%;
  margin:0 auto;
  top: 130px;
  
}

.title-h2 { 
  text-align: center;
  position: relative;
  top: 120px;
  font-family: 'Inknut Antiqua', serif;
}

aside {
  position: relative;
}

aside > h6,h5 {
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
  color: rgb(253, 233, 233);
  font-family: 'Inknut Antiqua', serif;
}



/*  left side */
.left-aside {
  position: relative;
  border-top-left-radius: 20px;
  width: 20%;
  background-image: linear-gradient(rgb(204, 0, 0), rgb(255, 255, 132), rgb(255, 154, 154));
}

.medail-Box {
  position: relative;
  width: 100%;
  top: 50px;
  padding: 5px;
}

.medailImgs {
  position: relative;
  top: -50px;
  width: 120%;
  left: -10%;
}



.med2 {
  position: relative;
  top: -100px!important;
}

.med3 {
  position: relative;
  top: -150px!important;
}

.i {
  position: relative;
  width: 100%;
}

 video {
   position: relative;
   width: 90%;
   left: 5%;
   border-radius: 10px;
   box-shadow: 2px 2px 20px rgb(109, 109, 109);
 }

.passing {
  position: relative;
  top: 80px;
  width: 100%;
}

.svg {
  position: relative;
  width: 80%;
  left: 10%;
}















 /* ************ center box *****************/
.middle-box {
  position: relative;
  width: 60%;
  padding: 0 3px;
}


.cup-Titles {
  position: relative;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

h3 {
  font-family: 'Inknut Antiqua', serif;
}

.cup-Titles > h5 {
  color: black;
  font-family: 'Inknut Antiqua', serif;
}

.cups {
  position: relative;
  width: 95%;
  height: 250px;
  display: flex;
  margin: 0 auto;
  
}

.dukla-cup {
  position: relative;
  margin: 0 auto;
  width: 45%;
  height: 150px;
  border-radius: 10px;
  perspective: 800px;  /* for 3d anim parent box */
}

.trencin-cup, .AK-CUP {
  position: relative;
  width: 100%;
  border-radius: 10px;
}

 /* FOR 3D ROTATE  */

/* .trencin-cup {
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotatey(20deg);
}

.AK-CUP {
  transform-style: preserve-3d;
  transition: transform 1s;
  transform: rotatey(-20deg);
} */

.alaska-cup {
  position: relative;
  margin: 0 auto;
  width: 45%;
  height: 90%!important;
  border-radius: 10px;
}





/* CERTIFICATE */

.certificate {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.certificate-za {
  position: relative ;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 20px gray;
}

.btn-read-more {
  position: relative;
  left: 43%;
  padding: 6px 15px;
  margin: 10px;
}

.btn-read-more:hover {
  box-shadow: 2px 2px 20px rgb(185, 185, 194);
}

.btn-read-more > a {
  text-decoration: none;
  color: blue;
  font-size: 17px;
}


h4 {
  font-family: 'Inknut Antiqua', serif;
}


/* prvy panel dresov */

.ha3 {
  text-align: center;
  margin-top: 30px;
}


  .panel {
    position: relative;
    top: 20px;
    
    width: 100%;
     height: 530px!important; 
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    left: 0;
    padding: 15px;
  }
 

.paneldresu {
  width: 12rem;
  height: 12rem;
  margin: 0px;
}


.dres {
  position: relative;
  width: 10rem;
}


.logoteamu {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  left: 28%;
  z-index: 200;
  top: -72%;
  transform: scale(.8);
  cursor: pointer;
}

 /* show stats and img */
.modal {
  position: fixed;
  width: 60%;
  height: 510px;
  left: 20%;
  top: 150px;
  letter-spacing: 0.5px;
  display: flex;
  z-index: 99999;
  background-color: white;
  /* border: 2px solid blue; */
  box-shadow: 5px 5px 25px gray;
  border-radius: 18px;
  padding: 15px;
  overflow: hidden;
  transform: scale(.7);
  visibility: hidden;
  z-index: 5555;
}

.showit {
  visibility: visible;
  z-index: 4545545454;
}

.textbox {
  position: relative;
  width: 48%;
  margin: 2.5rem;
  text-align: center;
}

.pictbox {
  position: relative;
  width: 48%;
}


.logo {
  position: relative;
  width: 10rem;
  height: 10rem;
  top: 40px;
  background-color: rgb(117, 32, 32);
  margin: 1px;
  z-index: 6666;
}

 /* children with 100% height and width */
.dress {
  position: relative;
  width: 10rem;
  height: 10rem;
  z-index: 2222;
}



.logoteams {
  position: relative;
  width: 3rem;
  height: 3rem;
  left: 35%;
  z-index: 200;
  top: -80%;
  z-index: 66668;
  
}

/* PICTURES IN MODAL ******  */

/*   LM, ZLIN, BRIDG, KOMETS */
.ImgModal2 {
  width: 400px;
}

.zaImg, .alaskaImg {
  width: 300px;
}

.ZV, .abbotsImg, .StockImg {
  width: 550px;
}

/*  SD, TULSA, RAPD, ORLD, UTAH, SHARK, SF, TN, PN, DUBN */
.ImgModal {
  width: 500px;
}

.totalstats {
  position: relative;
  left: 45%;
  width: 200px;
  background-color: blanchedalmond;
  padding: 15px;
  border-radius: 8px;
  z-index: 888;
  font-family: Georgia, 'Times New Roman', Times, serif;
  top: 400px;
}

.closebtn {
  position: fixed;
  left: 95%;
  font-size: 2rem;
  cursor: pointer;
}

.closebtn:hover{
 
  color: red;
}


.btn-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin: 0 auto;
  height: 30px;
  margin-bottom: 60px;
}

.page-btn {
  position: relative;
  background-color: rgb(106, 106, 247);
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  border: none;
  transform: scale(1.1);
}

.active-btn {
  background-color: rgb(42, 42, 158);
}

.next-btn, .prev-btn {
   background-color: rgb(198, 98, 245);
  padding: 3px 8px;
  cursor: pointer;
  border-radius: 3px;
  color: white;
  border: none;
  transform: scale(1.1);
  outline-offset: -2px;
 outline: 1px dashed rgb(255, 255, 255);
}

.stocktonBox {
  position: relative;
  width: 100%;
  top: 50px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
}

.glassAwards {
  position: relative;
  width: 70%;
  left: 15%;
  border-radius: 9px;
}

.stocktonImg:hover {
  box-shadow: 2px 2px 20px rgb(190, 178, 109);
}


   /********** right aside ***************/




.right-aside {
  position: relative;
  width: 20%;
  border-top-right-radius: 20px;
  background-image: linear-gradient(rgb(3, 5, 88), rgb(141, 159, 241), rgb(6, 7, 88));
}

.glassBox {
  position: relative;
  width: 100%;
  height: 90%;
  top: 50px;
  /* overflow-y: scroll; */
  
}


.stocktonImg {
  position: relative;
  width: 70%;
  left: 15%;
  border-radius: 9px;
}



.showit {
  visibility: visible;
  z-index: 4545545454;
}











