


#more {
  display: none;
}

#btn1, #btn2, #btn3, #btn4, #btn5 {
  position: relative;
  border: none;
  background: none;
  color: blue;
  display: inline-block;
}

.modal-box {
  position: fixed;
  bottom: 30px;
  left: -200px;
  width: 200px;
  background-color: #ecede4;
  height: 50px;
  padding: 6px 12px;
  border-radius: 7px;
  transition: all 1s ease-in;
  text-align: center;
}








