
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
}

.project-content {
  position: relative;
  top: 130px;
  width: 100%;
  min-height: 100vh;
}



.project-content h2 {
 
  text-align: center;
 
}

.project-content > ul {
  position: relative;
  width: 60%;
  top: 50px;
  margin: 0 auto;
}

.project-content > ul > li {
  font-size: 25px;
  list-style-type: none;
  padding: 8px 12px;
  margin-top: 15px;
}

.project-content > ul > li > a {
  background-color: rgb(250, 236, 211);
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
}

.project-content > ul > li > h6 {
  position: relative;
  left: 15px;
  margin-top: 7px;
}

.passing_box, .passing_box1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.passing, .passing1 {
  position: relative;
  width: 370px;
}


#svg, #svg1 {
  position: relative;
  width: 205px;
}

@media only screen and (max-width: 768px) {

  

  .project-content  {
    position: relative;
    top: -120px;
    width: 100%!important;
  }

  .ul {
    position: relative;
    width: 95%!important;
    left: 2.5%;
    padding: 0;
    transform: scale(0.8);
  }

  .red {
    color: red;
  }
 
  .schovaj-pre-fon {
    display: none;
  }

  /* touch & drag event  */
  .Color-Detect {
    display: none;
  }
}


.adobeImg {
  width: 600px;
  position: relative;
  top: 80px;
  cursor: pointer;
}





.projects-container {
  position: relative;
  width: 80%;
  left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}



.project-card {
  position: relative;
  width: 299px;
  height: 350px;
  border: 1px solid rgb(162, 162, 163);
  border-radius: 6px;
  overflow: hidden;
  margin: 15px 11px;
}

.project-card:hover {
  box-shadow: 0.2px 0.2px 10px gray;
  transform: translateY(-3px);
  border: 1px solid white;
}

.project-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.project-image {
  width: 100%;
}

.project-card:hover .project-image {
  opacity: 0.06;
}

.project-content-card {
  position: absolute;
  bottom: 40px;
  width: 100%;
  left: 0;
  text-align: center!important;
  opacity: 0;
  transition: all 0.5s;
}

.project-card:hover .project-content-card {
  opacity: 1;
  transform: translateY(-70px);
}


.project-link-card {
  text-decoration: none;
  color: black;
}

.project-btn:hover .project-link-card{
  color: white;
}













