* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  width: 100%;
  margin-top: 130px;
  min-height: 100vh;
}

main h2 {
  text-align: center;
}

main > ul {
  position: relative;
  width: 60%;
  top: 50px;
  margin: 0 auto;
}

main > ul > li {
  font-size: 25px;
  list-style-type: none;
  padding: 8px 12px;
  margin-top: 15px;
}

main > ul > li > a {
  background-color: rgb(250, 236, 211);
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  outline: none;
}

main > ul > li > h6 {
  position: relative;
  left: 15px;
  margin-top: 7px;
}

.passing_box, .passing_box1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.passing, .passing1 {
  position: relative;
  width: 370px;
}


#svg, #svg1 {
  position: relative;
  width: 205px;
}

@media only screen and (max-width: 768px) {
  main > ul {
    position: relative;
    width: 90%;
  }
}
